!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="/css/bootstrap.css")
    %script(src="/js/bootstrap.js")
  %body
    #container
      %h1 Hello World
      %p
        =@author.html_safe
      %form{ :action => "", :method => "post"}
        %button.btn-lg{:text => "Cormac McCarthy", :value => "cormac", :name => "button"}
        %button.btn-lg{:text => "Second Author", :value => "second author", :name => "button"}